.user-menu {
    background: white;
    padding: 5px 13px;
    font-size: 14px;
}
.user-menu-item{
    padding: 2px 3px;
    cursor: pointer;
}
.user-menu-clickable:hover {
    background-color: #f6f6f6;
 }
.user-menu-item-seperator{
    height: 1px;
    background-color: #d9d9d9;
    margin: 6px 0;

}
